body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background-image: url(../images/homepage-background.jpg);
}

header {
  background-color: #1a3384;
  color: white;
  text-align: center;
  padding: 15px 0;
  
}


nav ul {
  list-style: none;
  padding: 20px;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
}

nav a:hover {
  color: #4dc8f1;
}


h1, h2 {
  color: #003366;
  text-align: center;
  font-size: 2rem;
}

p {
  text-align: center;
  font-size: 1.2rem ;
}


.hobby-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 15px;
  margin: 30px 0;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.hobby-section img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-left: 20px;
  border: 1px solid #003366;
}

.hobby-section p {
  flex: 1;
  font-size: 1.5rem;
  margin: 0;
}

footer {
  background: #003366;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}



@media (min-width: 600px) {
    body {
        background-color: #eef5ff;
    }
    h1 {
        font-size: 28px;
    }
    .hobby-section img {
        width: 240px;
    }
}


@media (min-width: 900px) {
    main {
        max-width: 1000px;
        margin: auto;
    }
    p {
        font-size: 18px;
    }
    nav li {
        margin: 0 25px;
    }
}
