body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef6ff;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 15px 0;
    background-color: #002855;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}


h1 {
    text-align: center;
    margin-top: 20px;
}

h3 {
    text-align: center;
    margin-top: 20px;
}


#map {
    height: 400px;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    border: 3px solid #002855;
    border-radius: 8px;
}


#questionBtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #002855;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    background-color: #002855;
    color: white;
}
